$Dark-Blue: hsl(240, 38%, 20%);
$Grayish-Blue: hsl(240, 18%, 77%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    color: $Dark-Blue;
}

.bg {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    background: url(/images/pattern-curve.svg) no-repeat fixed left bottom;
}


.container-texte {
    z-index: 2;
    //border: 1px solid hsl(240, 38%, 20%);
    display: block;
    overflow: visible;
    background: url(/images/pattern-quotes.svg) no-repeat;
    background-size: 120px 90px;
    background-position: 40% top;
    padding-top: 1.5rem;
    padding-left: 2rem;
}
#texte2 {
    display:none;
}
.texte1 {
    z-index: 2;
    display: block;
    font-weight: 300;
    margin-right: -3.5rem;
}

.name1 {
    font-size: 0.38em;
    display: inline-flex;

    h1 {
        //padding-right: 20px;
        color: $Dark-Blue;
    }

    h2 {
        margin-left: 10px;
        color: $Grayish-Blue;
    }
}

.container-img {
    z-index: 1;
    margin-top: 1rem;
    //border:1px solid gold;
    background: url(/images/pattern-bg.svg) no-repeat;
    background-size: contain;
    margin-right: 2rem;

}

.img-user {
    margin: 1.5rem;
    width: 15rem;
    height: 15rem;
    border-radius: 15px;
    box-shadow: 0 15px 10px -10px rgb(185, 184, 184);
    
}

.pattern {
    position: absolute;
    z-index: -2;
}

.btn {
    overflow: hidden;
    z-index: 3;
    position: absolute;
    bottom: 2.9rem;
    right: 15rem;
    width: 2.6rem;
    height: 1.2rem;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 15px 10px -10px rgb(185, 184, 184);
}

.btn-left {
    background: url(/images/icon-prev.svg) no-repeat center;
    
}
.btn-right {
    
    background: url(/images/icon-next.svg) no-repeat center;
    
}
.btn-right, .btn-left {
    cursor: pointer;
    position: relative;
    width: 50%;
    height: 100%;
    text-decoration: none;
    border: none;
    outline: none;
    overflow: hidden;

}
.btn-left:hover, .btn-right:hover {
    overflow: hidden;
    border: none;
    background-color: rgb(216, 216, 216);
}

@media screen and (max-width: 1024px) {
    .bg {
        overflow: visible;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
    }
    .container-img {
        margin-right: 0;
    }

    .img-user {
        margin: 1.5rem;
        width: 8rem;
        height: 8rem;
    }
    .container-texte {
        
        padding-top: 0;
        padding-left: 0;
        padding: 1rem 1rem;
        margin: 0;
        background-size: 60px;
        background-position: 50% top ;
        padding-top: 1rem;
    }

    .texte1 {
        text-align: center;
        margin-right: 0;
        font-size: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .name1 {
        display: inline;
        justify-content: center;
        text-align: center;

        
    }
    
    .name1 h2 {
        
        margin-left: 0;
        
    }

    .btn {
        position: relative;
        bottom: 2.5rem;
       // left: 45%;
        right: -38%;
 }


}
@media screen and (min-width: 445px){

.container-texte {
        
    padding-top: 0;
    padding-left: 0;
    padding: 2rem 4rem;
    margin: 0;
    background-size: 60px;
    background-position: 50% top ;
    padding-top: 1rem;
}
}